<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista de Perros</h4>
        <button *ngIf="prueba2" routerLink="/agregar_perro" type="button" class="btn btn-info">Agregar perro</button>

      </div>
      <!---->
   
 

      <!-- tabla crud-->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nombre
              </th>
              <th>
                Raza
              </th>
              <th>
                Color
              </th>
              <th>
                Estado
              </th>
              <th class="text-right">
                Mas Informacion
              </th>
              <th *ngIf="prueba2" class="text-right">
                editar
              </th>
              <th *ngIf="prueba2"  class="text-right">
                eliminar
              </th>
            </thead>
            <tbody>
              
              <tr *ngFor="let perro of ListarPerro">
                <td>
                  {{perro.nombre_perro}}
                </td>
                <td>
                  {{perro.raza_perro}}
                </td>
                <td>
                  {{perro.color_perro}}
                </td>
                <td>
                  {{perro.estado_perro}}
                </td>
                <td class="text-right">
                  <button  (click)="ver(perro.nombre_perro)" type="button" class="btn btn-success">Mas Info</button>
                  
                </td>
                <td class="text-right">
                 
                  <button *ngIf="prueba2" (click)="modificar(perro.nombre_perro)" type="button" class="btn btn-info">editar</button>
                  
                </td>
                <td class="text-right">
                  <button *ngIf="prueba2" (click)="eliminar(perro.id)" type="button" class="btn btn-danger">Eliminar</button>
                  
                </td>
                
              </tr>

             

              
              
            </tbody>
          </table>
        </div>
      </div>


<!-- tabla crud-->
    </div>
  </div>
  
</div>
<!--

              <tr>
                <td>
                  Ali
                </td>
                <td>
                  Ovejero Aleman
                </td>
                <td>
                  Negro
                </td>
                <td class="text-right">
                  <a href="#/perro" type="button" class="btn btn-success">Mas Info</a>
                  
                </td>
              </tr>

              <tr>
                <td>
                  Ali
                </td>
                <td>
                  Ovejero Aleman
                </td>
                <td>
                  Negro
                </td>
                <td class="text-right">
                  <a href="#/pendiente" type="button" class="btn btn-success">Mas Info</a>
                  
                </td>
              </tr>

              <tr>
                <td>
                  Azul
                </td>
                <td>
                  Ovejero Aleman
                </td>
                <td>
                  Negro
                </td>
                <td class="text-right">
                  <a href="#/pendiente" type="button" class="btn btn-success">Mas Info</a>
                  
                </td>
              </tr>

              <tr>
                <td>
                  Ali4
                </td>
                <td>
                  Ovejero Aleman
                </td>
                <td>
                  Negro
                </td>
                <td class="text-right">
                  <a href="#/perro" type="button" class="btn btn-success">Mas Info</a>
                  
                </td>
              </tr>

              <tr>
                <td>
                  Ali5
                </td>
                <td>
                  Ovejero Aleman
                </td>
                <td>
                  Negro
                </td>
                <td class="text-right">
                  <a href="#/perro" type="button" class="btn btn-success">Mas Info</a>
                  
                </td>
              </tr>

-->