<div >
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Iniciar Sesion </h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="usuario">Usuario</label>
                <input   type="text" class="form-control" name="usuario" ngModel required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input   type="text" class="form-control" name="contrasena" ngModel required >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button  type="submit" class="btn btn-primary btn-round">Iniciar Sesion</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  
  
