
    <div >
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Agregar Perro</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre del Perro</label>
                  <input [(ngModel)]="perros.nombre_perro" type="text" class="form-control"  placeholder="" value="">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Lugar de Nacimiento</label>
                  <input [(ngModel)]="perros.lugar_nacimiento_perro" type="text" class="form-control" placeholder="" value="">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input [(ngModel)]="perros.fecha_nacimiento_perro"   type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre del Padre</label>
                  <input [(ngModel)]="perros.padre_perro"  type="text" class="form-control" placeholder="" value="">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nombre de la Madre</label>
                  <input [(ngModel)]="perros.madre_perro"  type="text" class="form-control" placeholder="" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tatuaje</label>
                  <input [(ngModel)]="perros.tatuaje_perro"  type="text" class="form-control" placeholder="" value="">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                 
                  <label for="exampleFormControlSelect1">Estado</label>
                  <select [(ngModel)]="perros.estado_perro" class="form-control" >
                  <option>Activo</option>
                  <option>En Celo</option>
                  <option>En Tratamiento</option>
                  </select>
                </div>
              </div>
            </div>

            

            




            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Raza</label>
                  <input [(ngModel)]="perros.raza_perro"  type="text" class="form-control" placeholder="" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Sexo</label>
                  <input [(ngModel)]="perros.sexo_perro"  type="text" class="form-control" placeholder="" value="">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Color</label>
                  <input [(ngModel)]="perros.color_perro"  type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">
                      <label>Pelaje</label>
                      <input [(ngModel)]="perros.pelaje_perro"  type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button (click)="agregar()" type="submit" class="btn btn-primary btn-round">Agregar perro</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  